#main_header {
  background: #000;
  color: #fff;
  overflow: hidden;
}

#main_header > .container {
  display: flex;
}

#main_header a {
  color: #fff;
}

#main_header h1 {
  flex: 1;
}
#gnb { 
  border: 1px solid red;
}
#gnb { display: flex;}
#gnb > li > a{
  display: block;
  padding: 10px;
}