* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body { overflow-x: hidden; }
ul { list-style-type: none;}
a { text-decoration: none;}

section {
  min-width: 768px;
  height: 800px;
  background: #ccc;
}

.container {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

#main article{
  float: left;
  width: 50%;
  border: 2px solid red;
  padding: 20px;
}

